.before-after-content {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  --position: 50%;
  max-width: 955px;
}

.image-container {
  max-width: 955px;
  max-height: 155vh;
  aspect-ratio: 16/8;
}

.first-line {
  color: #3d3d3d;
  font-family: "Montserrat", Sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1.6px;
  margin: 0;
}

.slider-button {
  width: 30px;
  height: 30px;
}

.slider-button svg {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: 0.2rem;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: #fff;
  color: #000000;
  padding: 0.5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, 0.5);
}

@media (max-width: 1700px) {
  .before-after-container {
    padding: 0 7rem;
  }
  .padding-container {
    padding: 4rem 4rem;
  }
}

@media (max-width: 1450px) {
  .before-after-container {
    padding: 0 6rem;
  }
  .first-line {
    font-size: 2.4rem;
  }
}

@media (max-width: 1160px) {
  .before-after-container {
    padding: 0 3rem;
  }
  .first-line {
    font-size: 2.3rem;
  }
}

@media (max-width: 950px) {
  .before-after-container {
    padding: 0 1.5rem;
  }

  .first-line {
    font-size: 1.7rem;
  }
}

@media (max-width: 1750px) {
  .outer-container {
    padding: 0 6rem;
  }
  .padding-container {
    padding: 2rem;
  }
  .first-line {
    font-size: 2.4rem;
  }
  .first-line-taller {
    font-size: 2.4rem;
  }
}

@media (max-width: 1260px) {
  .outer-container {
    padding: 0;
  }
  .first-line {
    font-size: 2.2rem;
  }
  .first-line-taller {
    font-size: 2.2rem;
  }
  .padding-group {
    padding: 1.5rem;
  }
  .padding-group-middle {
    padding: 0 3rem;
    padding-bottom: 1.5rem;
  }
  .padding-group-middle-grayBackground {
    padding: 3rem;
    margin-bottom: 2rem;
  }
  .padding-group-extend {
    padding: 1.5rem;
  }
}

@media (max-width: 950px) {
  .outer-container {
    padding: 0;
    margin-bottom: 10px;
  }
  .padding-container {
    padding: 2rem;
  }
  .first-line {
    font-size: 1.3rem;
  }
  .first-line-taller {
    font-size: 1.3rem;
  }
  .padding-group {
    padding: 0;
  }
  .padding-group-middle {
    padding: 0;
    padding-bottom: 0.5rem;
  }
  .padding-group-middle-grayBackground {
    padding: 2rem;
    margin-bottom: 1.5rem;
  }
  .title-description-image-container {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .padding-group-extend {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .video-outer-container {
    height: 10rem;
    margin: 0;
    overflow: hidden;
  }
  .outer-container {
    max-width: 100vw;
  }
  .padding-container {
    padding: 0.3rem;
  }
  .first-line {
    font-size: 1.2rem;
  }
  .first-line {
    font-size: 1.2rem;
  }
  .padding-group-middle {
    padding-bottom: 0.2rem;
  }
  .padding-group-middle-grayBackground {
    padding: 0.2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 300px) {
  .outer-container {
    max-width: 100vw;
  }
}