.experience-container {
  padding: 0 10rem;
  box-sizing: border-box;
  margin-bottom: 80px;
  height: auto;
  overflow: hidden;

}

.experience-content {
  padding: 9rem;
  background-color: #F6F7F9;

}

.first-line {
  color: #3d3d3d;
  font-family: "Montserrat", Sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1.6px;
  margin: 0;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1700px) {
  .experience-container {
    padding: 0 7rem;
  }
  .experience-content {
    padding: 4rem 4rem; 
  }
}

@media (max-width: 1450px) {
  .experience-container {
    padding: 0 6rem;
  }
  .first-line {
    font-size: 2.4rem;
  }
}

@media (max-width: 1160px) {
  .experience-container {
    padding: 0;
  }
  .first-line {
    font-size: 2.3rem;
  }
  .experience-content {
    padding: 2rem;
  }
}

@media (max-width: 950px) {
   .first-line {
    font-size: 1.7rem;
  }
  .description-one {
    font-size: .8rem;
  }
  .second-line {
    font-size: 1.4rem;
  }
  .experience-container {
    padding: 0 1.5rem;
  }
}
