.slider {
  min-width: 332px;
  min-height: 100px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  overflow: hidden;
}

.slider__container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  max-width: 1387px;
  min-height: 550px;
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  transition: all 0.4s linear;
}

.slider__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.slider__image {
  border-radius: 0.5rem;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider__description {
  background-color: white;
  color: #4c4d4f;
  text-align: center;
  font-family: "Roboto", Sans-serif;
  position: absolute;
  z-index: 3;
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem; /* Position 2rem from the bottom */
  width: 50%; /* Set a percentage width */
}

.slider__button {
  position: absolute;
  top: 50%;
  color: #000000;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.slider__button:hover {
  background-color: gray;
  color: white;
}

.slider__button--prev {
  left: 0;
}

.slider__button--next {
  right: 0;
}

.slider__slide--active {
  opacity: 1;
  transform: translateX(0);
}

.slider__slide--prev {
  transform: translateX(-100%);
}

.slider__slide--next {
  transform: translateX(100%);
}

@media (max-width: 1734px) {
  .slider__button--next {
    right: 20px;
  }
}
@media (max-width: 768px) {
  .slider__description {
    font-size: 1rem;
    padding: 0.5rem;
    bottom: 1rem;
    max-width: 90%;
  }
}

@media (max-width: 1160px) {
  .slider {
    display: none;
  }
}
